<{include file="public/header.html"}>
			<p id="page-intro">Free Blog</p>
			<br/><br/>
			<div class="clear"></div> <!-- End .clear -->	
			
			<div class="content-box"><!-- Start Content Box -->
				<div class="content-box-header">
					<h3>添加分类</h3>
					<ul class="content-box-tabs">
						<li><a href="#tab1" class="default-tab">添加分类</a></li> <!-- href must be unique and match the id of target div -->	
					</ul>
					<div class="clear"></div>
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content " >
						<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
							<table>
								<tfoot>
									<form action='<{$url}>/addCategory' method='post'>
										<tr>
											<td colspan='6'>
												<div class="bulk-actions align-left">
													<input type="submit" value="确认添加" name="sub" class="button" style="height:25px;width:68px">
													<input type="submit" value="分类列表" name="sub" class="button" style="height:25px;width:68px">
												</div>
												<div class="pagination"><!--用户分页-->
													<{$fpage}>
												</div> <!-- End .pagination -->
											</td>
										</tr>
								</tfoot>
								<tbody>
										<tr>
											<td>
												*上级分类:
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<select name='path'>
													<option value='0'>---选择所属类别---</option>
													<option value='0'>根目录</option>
													<{section name='allCate' loop=$allCategory}>
														<option value='<{$allCategory[allCate].cid}>'>
															<{$allCategory[allCate].category_name}>
														</option>
													<{/section}>
												</select>
											</td>
										</tr>
										<tr>
											<td>
											*分类标题:
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<input type='text' name='category_name' /></td>
										</tr>
										<tr>
											<td colspan='2'>
												分类简介:
											</td>
										</tr>
										<tr>
											<td colspan='2'>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												&nbsp;
												<textarea name='category_content' rows='7' cols='30'></textarea>
											</td>
										</tr>
									</form>
								</tbody>
							</table>
						</div>
					<div class="clear"></div>
				</div> <!-- End #tab1 -->				
			</div> <!-- End .content-box-content -->
		</div> <!-- End .content-box -->		
<div class="clear"></div>
		
<!--页面底部-->
<{include file="public/foot.html"}>