<{include file="public/header.html"}>
			<script type="text/javascript">
				function show(obj){
					var sp = obj.getElementsByTagName('span')[0];
						sp.style.display='block';
				}
				function hide(obj){
					var sp = obj.getElementsByTagName('span')[0];
						sp.style.display='none';					
				}
				
				
				function showReview(num,rrid){
					var a=document.getElementById(rrid);

						if(num){
							a.style.display='block';
							var xSpace=event.clientX;
							var ySpace=event.clientY;
						}else{
							a.style.display='none';
						}
				}
				
				function subContent(){
					
				}
			</script>
			<p id="page-intro">Free Blog</p>
			<br/><br/>
			<div class="clear"></div> <!-- End .clear -->	
			
			<div class="content-box"><!-- Start Content Box -->
				<div class="content-box-header">
					<h3>管理评论</h3>
					<ul class="content-box-tabs">
						<li><a href="#tab1" class="default-tab">管理评论</a></li> <!-- href must be unique and match the id of target div -->	
					</ul>
					<div class="clear"></div>
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content " >
						<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
							<table>
								<thead>
									<tr>
										<td style='font-size:20px;'><{$articleData.article_title}></td>
									</tr>
									<tr>
										<td><{$articleData.article_author}> 发表于 <{$articleData.article_time|date_format:"%y年-%m月-%d日 %H:%M:%S"}></td>
									</tr>
									<tr>
										<td colspan='2'>
											<div style='width: 976px;' >
												<hr />
												<br />
												<br />
													<{$articleData.article_content}>
												<br />
												<br />
												<hr />
											</div>
										</td>
									</tr>
								</thead>
							</table>
							<table>
								<thead>
									<tr>
										<td>
											<b style='color:#519c00;font-size:15px;'>&nbsp;&nbsp;<{$articleData.article_title}>&nbsp;&nbsp;的 详 细 评 论</b>
											<br />
											<br />
											<br />
										</td>
									</tr>
								</thead>
								<tfoot>
 									<tr>
										<td colspan='6'>
<!-- 											<div class="bulk-actions align-left">
												<button class="button" onclick="alls()" style="height:25px;width:50px">全选</button>&nbsp
												<button class="button" onclick="fans()" style="height:25px;width:50px">反选</button>&nbsp
												<input type="submit" value="还原选中" name="sub" class="button" style="height:25px;width:68px">
												<input type="submit" value="删除选中" name="sub" class="button" style="height:25px;width:68px">
											</div> -->
											<div class="pagination"><!--用户分页-->
												<{$fpage}>
											</div> <!-- End .pagination -->
										</td>
									</tr> 
								</tfoot>
								<tbody id='text'>
									
										<{section name='allReview' loop=$articleReview}>
										<form action='<{$url}>/reReviews' method='post'>
											<tr id='shows' onmouseover="show(this)" onmouseout="hide(this)">
												<td>
													<{$articleReview[allReview].review_email}>&nbsp;&nbsp;在&nbsp;&nbsp;<{$articleReview[allReview].review_time|date_format:"%y年-%m月-%d日 %H:%M:%S"}>
													<br />
													<br />
													给<{$articleData.article_title}>进行了名为：<{$articleReview[allReview].review_name}>的评论:
													<br />
													<br />
													<{$articleReview[allReview].review_content}>
													<br />
													<br />
													<{if $articleReview[allReview].review_website|returnWebSite}>
														她/他的webSite:&nbsp;&nbsp;<a href="http://<{$articleReview[allReview].review_website}>"><{$articleReview[allReview].review_website}></a>
													<br />
													<br />												
													<{/if}>
													<span style='display:none'>
													<a href='#' onclick='showReview(1,<{$articleReview[allReview].rid}>)'>回复</a>&nbsp;|&nbsp;
													<a href='<{$url}>/appReview/aid/<{$articleReview[allReview].aid}>/rid/<{$articleReview[allReview].rid}>'>批准</a>&nbsp;|&nbsp;

													<!--<a href='' onclick='return confirm("确认该回复为垃圾评论? 删除后将不可找回！")'>垃圾评论</a>&nbsp;|&nbsp;-->
													<a href='<{$url}>/delReview/aid/<{$articleReview[allReview].aid}>/rid/<{$articleReview[allReview].rid}><{$page}>' onclick='return confirm("评定为垃圾评论后将不可恢复！")'>垃圾评论</a>
													<!--如果没有评论回复将不显示删除所有-->
													<{if $articleReview[allReview].rid|isExit:$counts}>
													&nbsp;|<a href="<{$url}>/delrReview/aid/<{$articleReview[allReview].aid}><{$page}>" onclick='return confirm("您确认删除该评论的所有回复？")'>&nbsp;删除所有回复</a>
													<{/if}>
													</span>
													<{if $articleReview[allReview].rid|isExit:$counts}>
														<br />
														<br />
														<{reReview reviewArray=$articlereReviews reID=$articleReview[allReview].rid }>
														<br />
														<br />
													<{/if}>
													<div style='display:none' id='<{$articleReview[allReview].rid}>'>
														<hr />	
														回复<{$articleReview[allReview].review_email}>给《<{$articleData.article_title}>》的回复：
														<br />
														<br />
														<textarea name='rr_content' style='width: 976px; height: 176px;'></textarea>											
														<br />
														</br />
														<input type='submit' class='button' value='确认回复'>
														<input type='hidden' name='rid' value='<{$articleReview[allReview].rid}>' />
														<input type='hidden' name='aid' value='<{$articleReview[allReview].aid}>' />
														<input type='button' value='取消回复' class='button' onclick='showReview(0,<{$articleReview[allReview].rid}>)'/>
														<br />
														<br />
														<br />
													</div>
												</td>
											</tr>
											<tr>
												<td>&nbsp;&nbsp;</td>
											</tr>
											</form>
										<{/section}>
									
								</tbody>
							</table>
						</div>
					<div class="clear"></div>
				</div> <!-- End #tab1 -->				
			</div> <!-- End .content-box-content -->
		</div> <!-- End .content-box -->		
<div class="clear"></div>
		
<!--页面底部-->
<{include file="public/foot.html"}>