<{include file="./public/header.htm"}>
<link href="<{$res}>/css/user/ucenter.css" type="text/css" rel="stylesheet">
<link href="<{$res}>/css/user/mold.css" type="text/css" rel="stylesheet">
<link href="<{$res}>/css/user/newshopcar.css" type="text/css" rel="stylesheet">
<script src="<{$res}>/js/user/ga.js" async="" type="text/javascript"></script>
<script type="text/javascript" src="<{$res}>/js/user/base.js"></script>
<script type="text/javascript" src="<{$res}>/js/user/share.js"></script>
<script type="text/javascript" src="<{$res}>/js/user/menuShow.js"></script>
<script type="text/javascript" src="<{$res}>/js/user/page.js"></script>
	<script type="text/javascript" src="<{$public}>/js/ajax3.0.js"></script>
<script type="text/javascript">
	function show(){
		Ajax().get("<{$url}>/edit",function(data){
			document.getElementById("div1").innerHTML=data;
		});
	}
	function show1(){
		Ajax().get("<{$url}>/like",function(data){
			document.getElementById("div1").innerHTML=data;
		});
	}
</script>
		<script type="text/javascript">
		/*function checkPass(name){
			if(name.match(/^[0-9A-Za-z]{6,20}$/)){
				if(<{$smarty.session.password}>==md5(name)){
				$("#pwd1").html("<img src='<{$res}>/images/pic21.gif'/>");				
				}else{
				$("#pwd1").html("原密码输入错误").css("color","red");				
				}						
			}else{
				$("#pwd1").html("原密码输入错误").css("color","red");
			}
		}*/
		function checkPwd(name){
			if(name!=$("#password").attr("value")){
			if(name.match(/^[0-9A-Za-z]{6,20}$/)){
				$("#pwd2").html("<img src='<{$res}>/images/pic21.gif'/>");
			}else{
				$("#pwd2").html("密码格式错误").css("color","red");
			}}else{
				$("#pwd2").html("密码无改变").css("color","red");
			}
		}
		function checkRePwd(name){
			if(name.match(/^[0-9A-Za-z]{6,20}$/)&& name===$("#userpwd").attr("value")){
				$("#pwd3").html("<img src='<{$res}>/images/pic21.gif'/>");
			}else{
				$("#pwd3").html("两次密码输入不一致，请重新输入").css("color","red");
			}
		}
		function tic(id){
			if(id==1){$("#pwd1").html("请输入原密码").css("color","grey");
			}
			if(id==2){$("#pwd2").html("密码可使用字母+数字的6-20个字符").css("color","grey");}
			if(id==3){$("#pwd3").html("请确认密码").css("color","grey");}
		}
		</script>
<!-- 省市现三级联动 -->
<link rel="stylesheet" href="<{$res}>/css/user/validator.css" type="text/css">
<script type="text/javascript" src="<{$res}>/js/user/Fw.js"></script>

<script type="text/javascript" src="<{$res}>/js/user/yougou.js" charset="UTF-8"></script>
<script src="<{$res}>/js/user/areaselecor.js" type="text/javascript"></script>
<script src="<{$res}>/js/user/date_birthday.js" type="text/javascript"></script>
<script src="<{$res}>/js/user/memberBasicinfo_editInfo.js" type="text/javascript"></script>
<script src="<{$res}>/js/user/mv.js" async="" type="text/javascript"></script>
<div class="w960">
	<p class="curLct">您当前的位置：<a href="<{$app}>/index" target="blank">首页</a> &gt; <a href="<{$app}>/user/index">我的优购</a> &gt; 用户首页</p>	
<div class="w150 fl">
<p><img src="<{$res}>/images/myyt.gif" alt="我的优购"></p>	
	<div class="w148" id="ucBar">
		<p class="blank8"></p>
		<h5 style="display:none"></h5>
		<ul><li><a id="index" href="<{$app}>/user/index">用户首页</a></li></ul>
		<h5><span class="s1"></span><b>交易中心</b></h5>
		<ul>
			<li><a id="wddd" href="<{$url}>/orders">未付款订单</a></li>
			<li><a id="spdp" href="<{$url}>/okorders">已完成订单</a></li>
		</ul>
		<h5><span class="s2"></span><b>服务中心</b></h5>
		<ul>
			<li><a id="tksq" href="<{$url}>/tuihuo">退货服务</a></li>
		</ul>
		<h5><span class="s3"></span><b>个人信息</b></h5>
		<ul>
			<li><a id="scj" href="javascript:void(0)" onclick="show1()">收藏夹</a></li>
			<li><a id="xgmm" href="javascript:void(0)" onclick="show()">修改密码</a></li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	try{
		$("#grzl").addClass("select");
	}catch(e){}
</script>
    <div class="w798 fr">
        <p class="titBar"><strong>您好！ <b class="Red">
	        	<{$smarty.session.username}>
        </b>
       	欢迎来到优购网</strong>
        	</p>
		<p class="ht50 ucmsg">
		<b>账户信息：</b> 普通会员
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账户积分：<span class="Red"><{$smarty.session.upoint}></span>
		</p>
    </div><{nocache}>
    <div id="div1" class="w798 fr userbox" style="height:500px;">
		
    </div><{/nocache}>
</div>
<p class="blank8"></p>
<{include file="./public/footer.htm"}>